.login_foat {
  display: none !important;
}
.container_view_project, .header_project {
  width: 100%;
}
.content_header_project {
  width: 100%;
  height: 30rem;
  background-size: 100% 123%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menus_header_project {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5% 0;
  align-items: center;
  font-size: 30px;
  color: #fff;
}
.menus_project {
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
  border-radius: 5px;
  margin: 0 3%;
  border: 1px solid transparent;
}
.menus_project:hover, .menus_project.active {
  border: 1px solid #00adf1;
  text-decoration: none;
  color: #fff;
}
.title_project {
  /* text-decoration: underline; */
  color: #00adf1;
  margin: 0;
  text-transform: uppercase
}
.chearch_project {
  width: 100%;
  display: flex;
  justify-content: center;
}
.research_project {
  width: 35%;
  padding: 15px;
  margin-right: 15px;
  border-radius: 5px;
  border: 1px solid transparent;
}
.research_project:focus {
  border: 1px solid #00adf1;
  color: #00adf1;
  font-weight: 600;
}
.btn_chearch_project {
  border-radius: 5px;
  border: 1px solid #00adf1;
  background-color: #00adf1;
  color: #fff;
  font-weight: 600;
  padding: 15px 30px;
  cursor: pointer;
  outline: none;
}

.tab_project {
  width: 100%;
  padding: 3% 10%;
}
.content_tab {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.line_tab {
  width: 90%;
  border-bottom: 2px solid #474747;
  opacity: 0.5;
  z-index: -1;
  position: absolute;
  top: 0.9rem;
}
.list_tab {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.item_tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.number_tab {
  background-image: linear-gradient(83deg, #36ccb5, #559bf7);
  width: 30px;
  height: 30px;
  border: solid 0.5px #36ccb5;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
}
.number_tab.active {
  background-image: none;
  background-color: #fff;
  color: #0062ae;
  border: 1px solid #0062ae;
}
.title_tab {
  font-size: 12px;
  color: #474747;
}
#step-1, #step-2, #step-3 {
  display: none;
}
#step-1.active, #step-2.active, #step-3.active {
  display: block !important;
}

.container_page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}
.nav_bar {
  width: 25%;
  margin-right: 2rem;
}
.content_nav_bar {
  padding: 2%;
  border: 1px solid #02c4b3;
  box-shadow: 0 0 5px 0 #0062ab;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 3rem;
}
.item_nav_bar {
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 100%;
}
.title_nav_bar {
  width: 100%;
  text-align: center;
  text-decoration: underline;
  font-size: 23px;
  color: #02c4b3;
  font-weight: 600;
  margin-bottom: 2rem;
}
.citation_nav_bar {
  width: 100%;
  color: #707070;
  line-height: 2rem;
  font-size: 17px;
}
.style_cit1 {
  list-style: decimal-leading-zero;
}
.style_cit2 {
  list-style: circle;
}
.text_nav_bar {
  color: #00adf1;
  font-weight: 400;
  font-size: 17px;
}
.confidetiality_text {
  padding: 5%;
  background-color: #f0f0f0;
  border-top: 1px solid #0062ae;
  border-bottom: 1px solid #0062ae;
}

.text_image_nav_bar {
  width: 100%;
  display: flex;
}
.text_nav_bar {
  flex: 1;
  margin-right: 0.5rem;
}
.img_nav_bar {
  width: 90px;
  background-color: #f0f0f0;
  border-radius: 50%;
  height: 90px;
}
