/* line 3, ../../sass/admin/home.scss */
.project_list_page .btn_action:hover {
  text-decoration: none;
}
/* line 7, ../../sass/admin/home.scss */
.project_list_page .project_desc {
  padding: 0 30px;
}
/* line 11, ../../sass/admin/home.scss */
.project_list_page .item_project {
  border-bottom: none;
}
/* line 15, ../../sass/admin/home.scss */
.project_list_page .btn_view_project_detail {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: block;
  margin: 20px auto;
  width: 140px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  background-color: #0062ae;
  color: #fff;
}
/* line 31, ../../sass/admin/home.scss */
.project_list_page .btn_view_project_detail span {
  position: relative;
  transition: 0.5s;
}
/* line 35, ../../sass/admin/home.scss */
.project_list_page .btn_view_project_detail span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
/* line 45, ../../sass/admin/home.scss */
.project_list_page .btn_view_project_detail:hover span {
  padding-right: 25px;
}
/* line 49, ../../sass/admin/home.scss */
.project_list_page .btn_view_project_detail:hover span:after {
  opacity: 1;
  right: 0;
}
