/* line 1, ../../sass/admin/service.scss */
.liste_service {
  list-style: none;
  padding: 0;
  width: 100%;
}
/* line 6, ../../sass/admin/service.scss */
.liste_service li {
  border-bottom: 2px dotted #cecece;
  font-size: 17px;
  color: #474747;
  padding: 15px 0;
  width: 100%;
}
/* line 14, ../../sass/admin/service.scss */
.liste_service .icones_more_servie {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  font-size: 20px;
  padding-left: 3px;
}
/* line 25, ../../sass/admin/service.scss */
.liste_service .icones_more_servie.active {
  background-color: #0062ae;
  color: #fff;
  text-decoration: none;
}

/* line 33, ../../sass/admin/service.scss */
.position-relative {
  position: relative;
}

/* line 36, ../../sass/admin/service.scss */
.position-absolute {
  position: absolute;
}

/* line 40, ../../sass/admin/service.scss */
.service_page {
  padding: 0 2rem;
  width: 100%;
}

/* line 44, ../../sass/admin/service.scss */
.header_page_service {
  width: 93%;
  height: 190px;
  opacity: 0.6;
  top: 0;
}
/* line 50, ../../sass/admin/service.scss */
.header_page_service .image_header {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 56, ../../sass/admin/service.scss */
.content_page_service {
  width: 100%;
  padding-top: 80px;
}
/* line 60, ../../sass/admin/service.scss */
.content_page_service .item_title_service {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 66, ../../sass/admin/service.scss */
.content_page_service .title_service {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Open Sans Condensed',sans-serif;
}
