@media screen and (max-width: 1024px) {
	.container_page {
		/* flex-direction: column-reverse; */
	}
	
	.item_nav_bar {
	    margin-top: 0rem;
    	margin-bottom: 0rem;
	}
	.image_step_project {
	    width: 100%;
	    margin-right: 0;
	    margin-bottom: 2rem;
	}
	.text_nav_bar {
	    width: 100%;
	    text-align: center;
	    padding: 2%;
	}
	.text_image_nav_bar {
		flex-direction: column;
    	align-items: center;
	}
	.img_nav_bar {
	    width: 50%;
        height: 158px;
    	object-fit: contain;
	    border-radius: inherit;
	}
	.item_form_step1 {
	    width: 100%;
	}
	.btn_next_page {
	    justify-content: center;
	}
	.btn_next_form {
	    width: 50%;
        padding: 1.5%;
	}
	.title_item_step2 {
		width: 100%;
	    margin-bottom: 1rem;
	}
	.element_item {
	    margin-bottom: 5%;
    	padding: 0 5%;
	}
	.product_item {
		padding: 0 5%;
    	margin-bottom: 5rem;
	}
	.img_step1 {
		object-fit: contain;
	}
	.champ_item_step2 #phone, .champ_item_step2 #email {
		width: 100%;
	} 
}

@media screen and (max-width: 900px) {
	.porte_cherche {
		width: 90%;
	}
}

@media screen and (max-width: 750px) {
	.menus_header_project {
		flex-direction: column-reverse;
    	color: transparent;
    	font-size: 20px;
	}
	.chearch_project {
		flex-direction: column;
    	padding: 0 5%;
	}
	.research_project {
		width: 100%;
    	margin-bottom: 1rem;
	}
	.cherch_view_project {
		width: 100%;
	}
	.porte_cherche {
		flex-direction: column;
    	width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.tab_project { margin-top: 20px; }

	.container_page {
		-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;
		-webkit-box-align: center;-ms-flex-align: center;align-items: center;
	}

	.nav_bar, .step_nav {
		width: 100%;
	    max-width: 500px;
	    margin: auto;
	    padding: 0 15px;
	}

	.nav_bar { order: 2; }

	.step_nav { order: 1; }
}